@import "../../colors";

.main-content-wrap {
  display: flex;
  flex-direction: column;
  margin: 12px auto;
  width: 80%;
  max-width: 1300px;

  .name-header {
    background-color: $color-purple;
    color: white;
    padding: 6px 28px 6px 16px;
    border-radius: 10px;
    width: fit-content;
    float: left;
    margin-bottom: 12px;
  }

  .info-wrap {
    background-color: $color-ui;
    padding: 12px;

    .status-icon-upcoming {
      position: relative;
      color: $color-yellow;
      float: right;
      width: 25px;
      height: 25px;
    }

    .status-icon-over {
      position: relative;
      color: $color-error;
      float: right;
      width: 25px;
      height: 25px;
    }

    .status-icon-ongoing {
      position: relative;
      color: $color-green;
      float: right;
      width: 25px;
      height: 25px;
    }

    .info-content {
      display: flex;
      flex-direction: column;
      padding: 6px;

      .first-row {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        height: fit-content;

        .image-wrap {
          margin-right: 12px;
          background-color: $color-yellow;
          width: 250px;
          height: 250px;
          position: relative;

          img {
            height: 100%;
          }
        }

        .inner-row-wrap {
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          margin-left: 12px;
          height: 250px;

          .inner-row-content {
            display: flex;
            flex-direction: row;
            margin-top: 12px;
            margin-bottom: 12px;

            .link-label {
              padding: 6px 12px;
              background-color: $color-purple;
              border-radius: 10px;
              color: white;
              margin-right: 12px;
            }
          }
        }
      }

      .second-row {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        label {
          margin-top: 6px;
          margin-bottom: 12px;
        }

        .description {
          background-color: $color-purple;
          padding: 8px 16px 8px 12px;
          border-radius: 10px;
          color: white;
          min-height: 150px;
          font-size: 12pt;
        }
      }

      .third-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 16px;
        width: 100%;

        .schedule-button {
          border: none;
          text-decoration: none;
          color: black;
          border-radius: 10px;
          background-color: $color-yellow;
          padding: 8px 18px;
          font-size: 13pt;
          cursor: pointer;
        }
      }
    }
  }

  .photos-wrap {
    margin-top: 24px;

    .photos-content {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      padding: 0 4px;
      background-color: $color-ui;
      margin-top: 12px;

      .photos-column {
        flex: 50%;
        padding: 8px 4px;
        max-width: 50%;

        img {
          margin: 4px;
          vertical-align: middle;
          width: 100%;
        }
      }
    }
  }
}

label {
  color: white;
  font-size: 14pt;
  margin-right: 6px;
  padding: 4px;
}

.purple-label {
  color: white;
  font-size: 12pt;
  background-color: $color-purple;
  padding: 6px 12px;
  border-radius: 10px;
  margin-right: 6px;
}