.main-content-wrap {
  display: flex;
  flex-direction: column;
  margin: 12px auto;
  width: 80%;
  max-width: 1300px;
}
.main-content-wrap .name-header {
  background-color: #6540b0;
  color: white;
  padding: 6px 28px 6px 16px;
  border-radius: 10px;
  width: 50%;
  float: left;
  margin-bottom: 12px;
  border: none;
  font-size: 15pt;
}
.main-content-wrap .name-header:focus {
  outline: #f3e156 solid 1.5px;
}
.main-content-wrap .info-wrap {
  background-color: #3f394b;
  padding: 12px;
}
.main-content-wrap .info-wrap .status-icon {
  position: relative;
  float: right;
  width: 25px;
  height: 25px;
}
.main-content-wrap .info-wrap .info-content {
  display: flex;
  flex-direction: column;
  padding: 6px;
}
.main-content-wrap .info-wrap .info-content .first-row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  height: 250px;
}
.main-content-wrap .info-wrap .info-content .first-row .image-wrap {
  margin-right: 12px;
  background-color: #f3e156;
  width: 250px;
  height: 250px;
  position: relative;
}
.main-content-wrap .info-wrap .info-content .first-row .image-wrap img {
  height: 100%;
  width: 100%;
}
.main-content-wrap .info-wrap .info-content .first-row .inner-row-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 12px;
  height: auto;
}
.main-content-wrap .info-wrap .info-content .second-row {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.main-content-wrap .info-wrap .info-content .second-row p {
  align-self: flex-end;
  color: white;
  font-size: 10pt;
}
.main-content-wrap .info-wrap .info-content .second-row label {
  margin-top: 6px;
  margin-bottom: 12px;
}
.main-content-wrap .info-wrap .info-content .second-row .description {
  width: 100%;
  resize: none;
  border: none;
  font-size: 12pt;
  background-color: #6540b0;
  padding: 8px 16px 8px 12px;
  border-radius: 10px;
  color: white;
  min-height: 150px;
}
.main-content-wrap .info-wrap .info-content .second-row .description:focus {
  outline: #f3e156 solid 1.5px;
}
.main-content-wrap .info-wrap .info-content .third-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
  width: 100%;
}
.main-content-wrap .info-wrap .info-content .third-row .tag-dropdown-button {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f3e156;
  padding: 6px 12px;
  border-radius: 10px;
  cursor: pointer;
}
.main-content-wrap .info-wrap .info-content .third-row .tag-dropdown-button .down-icon {
  color: #6540b0;
  width: 20px;
  height: 20px;
  margin-left: 6px;
}
.main-content-wrap .info-wrap .info-content .third-row .schedule-button {
  border: none;
  text-decoration: none;
  color: black;
  border-radius: 10px;
  background-color: #f3e156;
  padding: 8px 18px;
  font-size: 13pt;
  cursor: pointer;
  align-self: end;
}
.main-content-wrap .photos-wrap {
  margin-top: 24px;
}
.main-content-wrap .photos-wrap .photos-button {
  background-color: #f3e156;
  padding: 6px;
  border-radius: 10px;
  cursor: pointer;
}
.main-content-wrap .photos-wrap .photos-content {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  background-color: #3f394b;
  margin-top: 12px;
}
.main-content-wrap .photos-wrap .photos-content .photos-column {
  flex: 50%;
  padding: 8px 4px;
  max-width: 50%;
}
.main-content-wrap .photos-wrap .photos-content .photos-column img {
  margin: 4px;
  vertical-align: middle;
  width: 100%;
}

.inner-row-content {
  display: flex;
  flex-direction: row;
  margin-top: 12px;
  margin-bottom: 12px;
  width: 100%;
}
.inner-row-content .link-label {
  padding: 6px 12px;
  background-color: #6540b0;
  border-radius: 10px;
  color: white;
  margin-right: 12px;
}

label {
  color: white;
  font-size: 14pt;
  margin-right: 6px;
  padding: 4px;
}

.purple-label {
  color: white;
  font-size: 12pt;
  background-color: #6540b0;
  padding: 6px 12px;
  border-radius: 10px;
  margin-right: 6px;
}

.text-input {
  border: none;
  color: white;
  font-size: 12pt;
  background-color: #6540b0;
  padding: 6px 12px;
  border-radius: 10px;
  margin-right: 6px;
  width: 30%;
}

.text-input:focus {
  outline: #f3e156 solid 1.5px;
}

.add-button {
  background-color: #f3e156;
  border: none;
  border-radius: 10px;
  padding: 6px 12px;
  cursor: pointer;
}

.deletable-item-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.delete-button {
  margin-left: 6px;
  background: none;
  border: none;
  cursor: pointer;
}
.delete-button .trash-icon {
  color: white;
  height: 12pt;
  width: 12pt;
}

.delete-image-button-wrap {
  display: flex;
  flex-direction: row;
}

.delete-button-img {
  margin-top: 12px;
  margin-left: -54px;
  height: 100%;
  background: #6540b0;
  padding: 12px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  position: relative;
  z-index: 1;
}
.delete-button-img .trash-icon {
  color: white;
  height: 12pt;
  width: 12pt;
}

/*# sourceMappingURL=AddConventionPage.css.map */
