@import "../../colors";

.password-content-wrap {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin: 45px auto;
  background-color: $color-ui;
  width: 250px;
  padding: 6px;
  border-radius: 10px;

  .password-field {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: flex-start;
    margin: 8px;
    width: 85%;

    label {
      margin: 0 0 6px 0;
      padding: 0;
    }

    input {
      border: none;
      border-radius: 10px;
      padding: 6px;
      width: 100%;
    }
    input:focus {
      outline: $color-yellow solid 1px;
    }
  }

  .password-button {
    border: none;
    border-radius: 10px;
    padding: 6px;
    width: 40%;
    background-color: $color-yellow;
    margin: 12px;
    cursor: pointer;
    text-decoration: none;
    color: black;
    text-align: center;
    font-size: 11pt;
  }
}